body {
    background-color:white;
}

.cuadro {
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: opacity ease 0.2s;
}

.resultado {
    display: none;
    text-align: center;
}

.fila{
    height: 25vh;
}

.reiniciar {
    display: none;
}

.borde {
    border: 1px solid;
    border-color: black;
}

.cuadro{
    opacity: 0;
    background-color: ""
}

