body {
    background-color:cadetblue
}

#cuadrado1 {
    background-color: ""
}
#cuadrado2 {
    background-color: ""
}
#cuadrado3 {
    background-color: ""
}
#cuadrado4 {
    background-color: ""
}
#cuadrado5 {
    background-color: ""
}
#cuadrado6 {
    background-color: ""
}
#cuadrado7 {
    background-color: ""
}
#cuadrado8 {
    background-color: ""
}
#cuadrado9 {
    background-color: ""
}
#cuadrado10 {
    background-color: ""
}
#cuadrado11 {
    background-color: ""
}
#cuadrado12 {
    background-color: ""
}
